#adminLeft {
    background-color: lightblue;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    list-style: none;
    text-align: center;
    overflow: auto;
    height: 100%;
    position: fixed;
    list-style-type: none;

}
#adminLeft li{
    list-style-type:none;
}
#adminLeft li:hover{
    background-color:aquamarine;
}
#adminRight {
    float:right;
    width:89%;
}
#adminLeft a:hover {
    background-color:aquamarine;
}
#adminLeft a:active {
    color:black;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
}
#adminLeft a:visited {
    color:black;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
}
#adminLeft a:link {
    color:black;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
}
#adminLeft a:-webkit-any-link {
    color:black;
    text-decoration:none;
}